@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #dfdfdf;
    max-width: 656px;
    margin: 100px auto;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.container .column01 {
    display: flex;
}

.container .column01 .destaque h3, p {
    margin: 6px 0;
    max-width: 326px;
    text-align: justify;
}

h1 {
    margin-top: 10px;
}

h2 {
    font-size: 16px;
}

.container .column01 .visualizacoes {
    margin: 10px 0;
}

.container .column02 {
    display: flex;
    flex-direction: column;
}

.container .column02 .video {
    display: flex;
    margin: 10px auto;
}

.container .column02 .video .informacoes {
    margin-left: 15px;
}

@media (max-width: 725px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vh;
    }
}

@media (max-width: 425px) {

    .container {
        max-width: 400px;
        margin: 40px auto;
    }
    img {
        width: 40vh;
    }

    .container .column01 .destaque {
        text-align: center;
    }

    .container .column01 .visualizacoes {
        margin: 10px 0;
    }
    
    .container .column02 .video {
        flex-direction: column;
    }

    .container .column02 .video .informacoes {
        margin-left: 0;
        margin-top: 10px;
    }
}