@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400&display=swap');

:root {
    --fonte: 'Public Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--fonte);
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.container .logo {
    display: flex;
    align-items: center;
}

.container img {
    width: 60px;
}

.container h1 {
    font-size: 20px;
    margin-left: -10px;
}

.container nav {
    display: flex;
    align-items: center;
}

.container nav ul {
    display: flex;
}

.container nav ul li {
    margin-left: 20px;
}

.container nav ul li a:hover {
    background-color: #5bc241;
    padding: 10px;
    color: white;
}

.container nav ul li.ativo a {
    background-color: #5bc241;
    padding: 10px;
    color: white;
}

.button {
    background-color: #5bc241;
    color: white;
    margin-left: 50px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px 25px;
    transition: 0.3s;
}

.button:hover {
    background-color: #387729;
}

@media (max-width: 690px) {
    .container {
        flex-direction: column;
    }

    .container h1 {
        font-size: 32px;
    }

    .container nav {
        display: block;
        text-align: center;
    }

    .container nav ul {
        display: block;
        margin: 40px;
    }

    .container nav ul li {
        margin: 30px 0;
        font-size: 30px;
    }

    .container .button {
        margin: 0 auto;
    }
}